body {
  overflow-x: hidden;
  font-family: Bitter, serif;
  padding-bottom: 100px;
}
h1 {
  font-family: Barrio;
  font-size: 4em;
  text-transform: uppercase;
}
.actions {
  padding: 50px;
}
.quote {
  font-size: 2em;
}
.btn-success {
  font-size: 1.1em;
}
.btn-info {
  font-size: 1.5em;
}
/* Nav styles */
.navbar {
	margin-bottom: 0 !important;
	border: 0;
}
.navbar-brand {
  font-family: Barrio, serif;
  font-size: 24px;
}
.navbar-container {
    padding: 20px 0 20px 0;
}
