body {
  overflow-x: hidden;
  font-family: Bitter, serif;
  background-color: beige;
  color: saddlebrown;
}
h1 {
  font-family: Barrio;
  font-size: 4em;
  text-transform: uppercase;
}
.actions {
  padding: 50px;
}
.quote {
  font-size: 2em;
}
.btn-success {
  font-size: 1em;
}
.btn-info {
  font-size: 1.5em;
}
/* Nav styles */
.navbar {
	margin-bottom: 0 !important;
  background-color: beige;
	border: 0;
}
.navbar-brand {
  font-family: Barrio, serif;
  color: saddlebrown !important;
  font-size: 24px;
}
.navbar-container {
    padding: 20px 0 20px 0;
}
a {
	color: saddlebrown !important;
}
a:hover {
	color: sienna !important;
	text-decoration: none;
}
