body {
  padding-top: 50px;
  font-family: Tangerine, serif;
  color: #ccac00;
  text-shadow: 1px 1px 2px #b78626;
  background-color: #231b01;
}
h1 {
  font-family: Tangerine, serif;
  font-size: 4em;
  color: #b78626;
}
p {
  font-size: 1em;
}
img {
  max-width: 100% !important;
  height: auto !important;
}
.actions {
  padding: 50px;
}
.quote {
  font-size: 3.5em;
}
.fa {
  font-size: 1.5em !important;
}
.btn-info {
  height: 60px;
  width: 60px;
  color: #b78626;
  background-color: #231b01;
  border: 2px solid gold;
  border-radius: 100%;
  box-shadow: 3px 2px 3px 2px #b78626;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  color: #b78626;
  background-color: #231b01;
  border: 3px solid gold;
  transform: rotate(-360deg);
}
.btn-text {
  font-size: 15px;
}

/* Nav styles */
.navbar {
	margin-bottom: 0 !important;
  background-color: #231b01;
	border: 0;
}
.navbar-brand {
  font-family: Tangerine, serif;
  color: #b78626 !important;
  font-size: 3em;
}
.navbar-container {
    padding: 20px 0 20px 0;
}
a {
	color: #b78626 !important;
  font-size: 1.5em;
}
a:hover {
	color: sienna !important;
	text-decoration: none;
}

/* Eye of Sauron icon */
.ic {
  font-size: 75px;
  color: transparent;
  user-select: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: visible;
  vertical-align: top;
  font-style: normal;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.ic:before, .ic:after {
/* BACKGROUND COLOR */
  background-color: #000;
  border-color: #000;
  color: #000;
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
}
.ic.ic-eye::before {
  width: 0.75em;
  height: 0.75em;
  top: 0.125em;
  left: 0.125em;
  background: radial-gradient(#d35400, #913700, #f39c12);
  border-radius: 0 70% 0 70%;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px 3px #b78626;
}
.ic.ic-eye:hover::before {
  box-shadow: 0 0 6px 3px #f39c12;
}
.ic.ic-eye::after {
  width: 0.1em;
  height: 0.5em;
  left: 0.45em;
  top: 0.25em;
  border: 0.01em solid #b78626;
  border-radius: 99% 0 99% 0;
  transform: rotate(-8deg);
  background-color: #191500;
  box-shadow: 0 0 6px 1px #b78626;
  }
.ic.ic-eye:hover::after {
  box-shadow: 0 0 6px 3px #b78626;
}
